<html>
    <head>
		<link rel="stylesheet" type="text/css" href="/style/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/style/style.css">
		<script src="/scripts/bootstrap.js"></script>
        <title>Dev Shop</title>
    </head>
    <body>
		{{if .Cart_exists}}
		<div id="cart">
			<a href="/check-out">Check out ({{.Cart_items}})</a>
			<p>Total: R${{.Cart_total}}</p>
		</div>
		{{end}}
		<div class="text-center">
	        <h1>Dev Shop</h1>
	        <h2><i>our friends from <a href="https://github.com/google/gson">google/gson</a></i></h2>
		    <ul class="pagination">
				<li><a href="developers">&lt&lt</a></li>
		        {{ range $index, $page := .Pagination }}
		        <li>
		            <a href="developers?p={{$page}}">{{$page}}</a>
		        </li>
		        {{end}}
				<li><a href="developers?p={{.N_pages}}">&gt&gt</a></li>
		    </ul>
		</div>

        <div class="devs_table">
            <table>
                <tr>
                    <th></th><th>Developer</th><th>Price</th><th></th>
                </tr>
				 {{$current := .Current_page}}
                {{range $dev := .Developers}}
                <tr>
                    <td><div class="circular" style="background-image: url({{$dev.Avatar}})"/></td>
					 <td class="fancy" width="50%">{{$dev.Name}}</td>
					 <td>R$ {{$dev.Price}}</td>
					 <td width="120px">
						<form action="/update-cart" method="post">
							<input type="hidden" name="price" value={{$dev.Price}}>
    						<button class="insert" name="addToCart" value="{{$dev.Name}}">Add to Cart</button>
						</form>
					 </td>
                </tr>
                {{end}}
            </table> 
        </div>
		<div class="text-center">
		    <ul class="pagination">
				<li><a href="developers">&lt&lt</a></li>
		        {{ range $index, $page := .Pagination }}
		        <li>
		            <a href="developers?p={{$page}}">{{$page}}</a>
		        </li>
		        {{end}}
				<li><a href="developers?p={{.N_pages}}">&gt&gt</a></li>
		    </ul>
		</div>
    </body>
</html>

